// Colors

$color-white:          #ffffff;
$color-black:          #000000;
$color-nero:           #242424;
$color-deep-lilac:     #9e5fc4;
$color-grey-suit:      #8c8c8d;
$color-dodger-blue:    #007fff;
$color-shocking-pink:  #df1ebf;
$color-apple:          #5fca44;


$color-white-50:       rgba(255, 255, 255, 0.50);
$color-white-30:       rgba(255, 255, 255, 0.30);
$color-white-20:       rgba(255, 255, 255, 0.20);
$color-deep-lilac-50:  rgba(158, 95, 196, 0.50);
$color-deep-lilac-90:  rgba(158, 95, 196, 0.90);
$color-black-60:       rgba(0, 0, 0, 0.6);
$color-nero-50:        rgba(36, 36, 36, 0.50);
$color-ghost-white:    #f4f4f5;
$color-grey-suit-50:   rgba(140, 140, 141, 0.5);



// Typography

$ff-exo: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-mobile-small: 374px;
